{% extends 'core_gen/base.html' %}
{% load static %}




<!--<nav align="center">
      <a role="button" href="{% url 'home'%}" class="btn btn-info">About</a>

</nav>
--!>
{% block content%}

<br>
<br>
<div align="center">
    <h1 > S.I.A.G.O.N PASSWORD GENERATOR</h1>

    <form action="{% url 'password' %}">
        <select name="length" >
            <option value="8">8</option>
            <option value="12" selected="selected">12</option>
            <option value="16">16</option>
            <option value="20">20</option>
        </select> Number of Characters
        <br>
        <div >
        <input type="radio" name="uppercase" >Uppercase
        <br>
        <input type="radio" name="numbers">Numbers
        <br>
        <input type="radio" name="special">Special Characters
        <br>
        <br>
        <input type="submit" value="Generate Password" class="btn btn-primary">
            <br>
            <br>
           <a role="button" href="{% url 'about'%}" class="btn btn-info">About</a>

        </div>

    </form>
</div>

{% endblock %}